backend:
  name: git-gateway
  branch: main

media_folder: "images"
public_folder: "/images"

collections:
  - name: "pages"
    label: "Pages"
    folder: "_data/pages"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
